#cardcontainer {
    position: relative;
    display: flex;
    overflow: scroll;
}

#card {
    min-width: 400px;
    min-height: 200px;
}
.buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropContainer a {
    display: flex;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}